<p>template-syntax works!</p>
<div>
  <a [routerLink]="['interpolation']"><span>Interpolation and Template Expressions</span></a>
  <a [routerLink]="['statements']"><span>Template statements</span></a>
  <a [routerLink]="['binding-property']"><span>Property binding [property]</span></a>
  <a [routerLink]="['binding-others']"><span>Attribute, class, and style bindings</span></a>
</div>
<div>
  <a [routerLink]="['']"><span>Event binding (event)</span></a>
  <a [routerLink]="['']"><span>Two-way binding [(...)]</span></a>
  <a [routerLink]="['']"><span>Two-way binding in forms</span></a>
  <a [routerLink]="['']"><span>Built-in directives</span></a>
  <a [routerLink]="['']"><span>Built-in structural directives</span></a>
</div>
<div>
  <a [routerLink]="['']"><span>The NgSwitch directives</span></a>
  <a [routerLink]="['']"><span>Template reference variables (#var)</span></a>
  <a [routerLink]="['']"><span>@Input() and @Output() properties</span></a>
  <a [routerLink]="['']"><span>Template expression operators</span></a>
  <a [routerLink]="['']"><span>Built-in template functions</span></a>
  <a [routerLink]="['']"><span>SVG in templates</span></a>
</div>
<router-outlet></router-outlet>
