<div>
  <a [routerLink]="['displaying-data']"><span>Displaying Data</span></a>
  <a routerLink="template-syntax"><span>Template Syntax</span></a>
  <a [routerLink]="['user-input']"><span>User Input</span></a>
  <a [routerLink]="['lifecycle-hooks']"><span>Lifecycle Hooks</span></a>
  <a [routerLink]="['component-interaction/pass-data']"><span>Component Interaction</span></a>
  <a [routerLink]="['dynamic-components']"><span>Dynamic Components</span></a>
  <a [routerLink]="['angular-elements']"><span>Angular Elements</span></a>
</div>
<hr />
<router-outlet></router-outlet>
